
/*********** Home Page ********/
.main {
    border-top: 1px solid rgba(65,180,175,.5);
    padding: 3em 0;
    border-bottom: 1px solid rgba(65,180,175,.5);
    min-height: 23em;
}

.work .main,
.contact .main,
.about .main{
  border-top: 0;
}


.row {
  height: 100%
}


.wrapper {
    height: 200px;
    margin: 0 auto 30px;
    background-color: #dee7e4;
    text-align: center;
    max-width: 30em;
    border-radius: 2px;
}

.link-box h1 {
    position: relative;
    top: 66px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -7px;

    font-size: 4em;
}
#link-contact h1 {
    top: 65px !important;
    line-height: 32px;
}

.wrapper:hover,
.wrapper:focus,
.wrapper:active{
  background: #f59d90;
  transition: background 200ms ease-in-out;
  -o-transition:background 200ms ease-in-out;
  -ms-transition:background 200ms ease-in-out;
  -moz-transition:background 200ms ease-in-out;
  -webkit-transition:background 200ms ease-in-out;

}

.header h1 {
    text-transform: uppercase;
    letter-spacing: -14px;
    font-size: 5em;
    line-height: .7;
    color: rgba(201,209,211,.88);
}
.header p {
    color: #f27461;
    font-size: .7em;
    letter-spacing: 22px;
    margin: 37px 0 15px;
    text-align: center;
    position: relative;
    left: 13px;
}

.footer p {
    color: #bdcfca;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 6px;
    opacity: .4;
    padding-top: 10px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.link-box h1{
  color:#bdcfca;
}

@media (min-width: 768px){
  .container{
    margin-top: 4%;
  }

  .header h1{
    letter-spacing: -17px;
    font-size: 6em;
    line-height:54px;
  }
  .header p{
    font-size: .8em;
    font-weight: bold;
    left: 15px;
  }
}