.all-modals .modal.fade .modal-dialog {
  position: relative;
  width: auto;
  margin: 20vh auto 0;
  max-width: 700px; }
  @media screen and (min-width: 768px) {
    .all-modals .modal.fade .modal-dialog {
      margin: 10vh auto 0; } }
  @media screen and (max-width: 767px) {
    .all-modals .modal.fade .modal-dialog {
      margin: 5vh auto 0; } }
  .all-modals .modal.fade .modal-dialog .modal-content {
    background-color: #f4f5f6;
    border-radius: 4px;
    max-width: 90%;
    margin: auto; }
    .all-modals .modal.fade .modal-dialog .modal-content .modal-header {
      border: 0;
      padding: 15px 15px 0;
      margin-top: 20px; }
      .all-modals .modal.fade .modal-dialog .modal-content .modal-header h4#myModalLabel {
        color: #41b4af;
        text-transform: lowercase;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 26px;
        line-height: 16px;
        text-align: right;
        padding-right: 10%; }
        @media screen and (min-width: 768px) {
          .all-modals .modal.fade .modal-dialog .modal-content .modal-header h4#myModalLabel {
            padding-bottom: 15px; } }
    @media screen and (min-width: 768px) {
      .all-modals .modal.fade .modal-dialog .modal-content .modal-body {
        display: inline-flex; } }
    @media screen and (min-width: 768px) {
      .all-modals .modal.fade .modal-dialog .modal-content .modal-body .col-md-8 {
        width: 66.66666667%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; } }
    .all-modals .modal.fade .modal-dialog .modal-content .modal-body .col-md-8 img {
      margin: 0 auto; }
      @media screen and (max-width: 400px) {
        .all-modals .modal.fade .modal-dialog .modal-content .modal-body .col-md-8 img {
          max-height: 200px; } }
    @media screen and (min-width: 768px) {
      .all-modals .modal.fade .modal-dialog .modal-content .modal-body .col-md-4 {
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px; } }
    .all-modals .modal.fade .modal-dialog .modal-content .modal-body .col-md-4 p.description {
      font-size: 11px;
      line-height: 1.5;
      text-transform: uppercase;
      text-align: left;
      max-width: 408px;
      margin: 20px auto; }
    .all-modals .modal.fade .modal-dialog .modal-content .modal-footer {
      border-top: none;
      padding: 0 15px 15px; }
      @media screen and (min-width: 768px) {
        .all-modals .modal.fade .modal-dialog .modal-content .modal-footer .modal-footer-btns {
          margin-right: 10px; } }
      .all-modals .modal.fade .modal-dialog .modal-content .modal-footer .modal-footer-btns button {
        background-color: #f4f5f6;
        border: 1px solid #f27461;
        font-size: 11px;
        text-transform: lowercase;
        color: #f27461;
        font-weight: 700;
        margin: 0 0 10px 10px;
        letter-spacing: 4px;
        padding: 10px 4px;
        border-radius: 2px; }
        @media screen and (min-width: 768px) {
          .all-modals .modal.fade .modal-dialog .modal-content .modal-footer .modal-footer-btns button {
            padding: 13px; } }

.main {
  border-top: 0;
  text-align: center; }
  .main.work {
    display: block !important; }
    .main.work .work-box {
      margin: 20px auto;
      width: 100%;
      max-width: 300px;
      height: 300px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;
      display: inline-block; }
      @media screen and (min-width: 600px) {
        .main.work .work-box {
          margin: 20px;
          width: 50%; } }
      @media screen and (min-width: 1200px) {
        .main.work .work-box {
          width: 33%; } }
      .main.work .work-box p.work-title {
        font-size: 67px;
        font-weight: 300;
        letter-spacing: -6px;
        text-transform: uppercase;
        margin: 0 0 0 -6px;
        height: 0; }

.about {
  margin: auto;
  width: 100%;
  position: relative;
  border-bottom-color: #f27461 !important; }
  @media screen and (min-width: 770px) {
    .about {
      width: 100%; } }
  .about ul.about-text {
    margin: 0 auto 5em;
    max-width: 40em;
    width: 300px;
    padding: 0; }
    @media screen and (min-width: 768px) {
      .about ul.about-text {
        width: 40em; } }
    .about ul.about-text li {
      text-align: left !important;
      margin: 0 !important;
      padding: 0;
      line-height: .7;
      letter-spacing: -5px;
      color: rgba(65, 180, 175, 0.88);
      display: block;
      position: relative;
      font-weight: 700;
      z-index: 1;
      zoom: 1; }
      @media screen and (min-width: 770px) {
        .about ul.about-text li {
          zoom: 2;
          line-height: .6; } }
      .about ul.about-text li#line1 {
        font-size: 60px; }
      .about ul.about-text li#line2 {
        font-size: 69px; }
      .about ul.about-text li#line3 {
        font-size: 50.5px; }
      .about ul.about-text li#line4 {
        font-size: 56px; }
      .about ul.about-text li#line5 {
        font-size: 53px; }
      .about ul.about-text li#line6 {
        font-size: 58px; }
      .about ul.about-text li#line7 {
        font-size: 65.5px; }
      .about ul.about-text li#line8 {
        font-size: 63px; }
      .about ul.about-text li#line9 {
        font-size: 69px; }
      .about ul.about-text li#line10 {
        font-size: 48px; }
        @media screen and (min-width: 770px) {
          .about ul.about-text li#line10 {
            display: block; } }
      .about ul.about-text li#games {
        font-size: 84px;
        line-height: .5; }
        @media screen and (min-width: 770px) {
          .about ul.about-text li#games {
            display: block;
            line-height: .6; } }
      .about ul.about-text li#line11 {
        font-size: 53px; }
      .about ul.about-text li#line12 {
        font-size: 54px; }
      .about ul.about-text li#line13 {
        font-size: 80px; }
      .about ul.about-text li:hover {
        color: #f27461;
        z-index: 2; }
      .about ul.about-text li:nth-child(2n) {
        color: rgba(122, 202, 199, 0.88); }
        .about ul.about-text li:nth-child(2n):hover {
          color: #f27461; }
    .about ul.about-text .ase:hover li {
      color: #f27461;
      z-index: 2; }

.contact {
  border-top: 0; }
  .contact .contact-box {
    margin: auto;
    position: relative; }
    @media screen and (min-width: 770px) {
      .contact .contact-box {
        width: 45em; } }
    .contact .contact-box p {
      margin: 3em auto;
      text-align: center;
      color: #c9d1d3;
      font-size: 12px;
      letter-spacing: 10px; }
      @media screen and (min-width: 770px) {
        .contact .contact-box p {
          margin-top: 3em;
          margin-bottom: 5.5em;
          text-align: center;
          font-size: 12px;
          letter-spacing: 10px; } }
    .contact .contact-box .contact-buttons {
      margin-bottom: 5em;
      padding: 0;
      text-align: center; }
      @media screen and (min-width: 770px) {
        .contact .contact-box .contact-buttons {
          text-align: left; } }
      .contact .contact-box .contact-buttons a.contact {
        color: rgba(242, 116, 97, 0.88);
        font-weight: 700;
        text-transform: uppercase;
        line-height: .7;
        letter-spacing: -5px;
        z-index: 111;
        position: relative;
        display: block;
        font-size: 50px;
        text-decoration: none; }
        @media screen and (min-width: 770px) {
          .contact .contact-box .contact-buttons a.contact {
            zoom: 2.5;
            font-size: 50px;
            line-height: .6; } }
        .contact .contact-box .contact-buttons a.contact:nth-child(2n+2) {
          color: rgba(245, 157, 144, 0.88); }
        .contact .contact-box .contact-buttons a.contact.email {
          font-size: 90px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.email:hover, .contact .contact-box .contact-buttons a.contact.email:active {
              color: #41b4af;
              z-index: 222 !important; } }
        .contact .contact-box .contact-buttons a.contact.linkedin {
          font-size: 63px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.linkedin:hover, .contact .contact-box .contact-buttons a.contact.linkedin:active {
              color: #41b4af;
              z-index: 222 !important; } }
        .contact .contact-box .contact-buttons a.contact.instagram {
          font-size: 50px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.instagram:hover, .contact .contact-box .contact-buttons a.contact.instagram:active {
              color: #41b4af;
              z-index: 222 !important; } }
        .contact .contact-box .contact-buttons a.contact.ywot {
          font-size: 91px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.ywot:hover, .contact .contact-box .contact-buttons a.contact.ywot:active {
              color: #41b4af;
              z-index: 222 !important; } }
        .contact .contact-box .contact-buttons a.contact.github {
          font-size: 74px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.github:hover, .contact .contact-box .contact-buttons a.contact.github:active {
              color: #41b4af;
              z-index: 222 !important; } }
        .contact .contact-box .contact-buttons a.contact.resume {
          font-size: 68px;
          letter-spacing: -7px; }
          @media screen and (min-width: 770px) {
            .contact .contact-box .contact-buttons a.contact.resume:hover, .contact .contact-box .contact-buttons a.contact.resume:active {
              color: #41b4af;
              z-index: 222 !important; } }

.header.logo h1.text-center {
  text-transform: uppercase;
  letter-spacing: -14px;
  font-size: 5em;
  line-height: .7;
  color: rgba(173, 173, 173, 0.8); }
  @media (min-width: 770px) {
    .header.logo h1.text-center {
      letter-spacing: -17px;
      font-size: 6em;
      line-height: 54px; } }
.header.logo p {
  color: #f27461;
  font-size: .7em;
  letter-spacing: 22px;
  margin: 37px 0 15px;
  text-align: center;
  position: relative;
  left: 13px; }
  @media (min-width: 770px) {
    .header.logo p {
      font-size: .8em;
      font-weight: bold;
      left: 15px; } }

.main {
  padding: 3em 0;
  min-height: 23em;
  display: block; }
  @media screen and (min-width: 768px) {
    .main {
      display: flex;
      align-items: center;
      justify-content: center; } }
  .main.home .col-md-4 {
    width: 100%; }
    @media screen and (min-width: 992px) {
      .main.home .col-md-4 {
        margin: 20px;
        width: 28%; } }
    .main.home .col-md-4 a:-webkit-any-link {
      text-decoration: none; }
      .main.home .col-md-4 a:-webkit-any-link .wrapper {
        height: 200px;
        margin: 0 auto 30px;
        background-color: #dee7e4;
        text-align: center;
        max-width: 18em;
        border-radius: 2px;
        transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
        -o-transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
        -ms-transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
        -moz-transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
        -webkit-transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95); }
        .main.home .col-md-4 a:-webkit-any-link .wrapper:hover, .main.home .col-md-4 a:-webkit-any-link .wrapper:focus, .main.home .col-md-4 a:-webkit-any-link .wrapper:active {
          background: #f59d90;
          transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
          -o-transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
          -ms-transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
          -moz-transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
          -webkit-transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95); }
        .main.home .col-md-4 a:-webkit-any-link .wrapper .link-box h1 {
          position: relative;
          top: 66px;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: -7px;
          font-size: 4em;
          color: #bdcfca; }
        .main.home .col-md-4 a:-webkit-any-link .wrapper .link-box#link-contact h1 {
          line-height: 32px; }

body {
  background-color: #000000;
  padding: 0px;
  margin: 0px; }
  body #gradient {
    width: 100%;
    height: auto; }
    @media screen and (min-width: 768px) {
      body #gradient {
        height: 120vh; } }
    body #gradient .container {
      max-width: 80em;
      padding: 0;
      margin: 0 auto; }
      @media screen and (min-width: 768px) {
        body #gradient .container {
          width: 80%; } }
      body #gradient .container .row.header {
        margin: 50px auto 45px; }
        body #gradient .container .row.header p {
          text-align: center;
          font-size: 12px;
          letter-spacing: 10px;
          color: #c9d1d3; }
          @media screen and (min-width: 770px) {
            body #gradient .container .row.header p {
              text-align: center;
              font-size: 12px;
              letter-spacing: 10px; } }
        body #gradient .container .row.header a.header-btn {
          border: 1.5px solid #bdcfca;
          color: #bdcfca;
          padding: 5px;
          position: absolute;
          top: 4em;
          left: 2em;
          font-size: 9px;
          letter-spacing: 2px;
          border-radius: 2px;
          text-transform: uppercase; }
          body #gradient .container .row.header a.header-btn:hover, body #gradient .container .row.header a.header-btn:active, body #gradient .container .row.header a.header-btn:focus {
            border: 0;
            outline: 2px solid #bdcfca;
            border-radius: 2px;
            padding: 7px;
            text-decoration: none; }
      body #gradient .container .row.main {
        border-top: 1px solid rgba(65, 180, 175, 0.5);
        border-bottom: 1px solid rgba(65, 180, 175, 0.5); }
        body #gradient .container .row.main.about, body #gradient .container .row.main.work, body #gradient .container .row.main.contact {
          border-top: none; }
      body #gradient .container .row.footer .footerCopy {
        text-align: center; }
        body #gradient .container .row.footer .footerCopy p {
          color: #bdcfca;
          font-size: 9px;
          text-transform: uppercase;
          letter-spacing: 6px;
          opacity: .4;
          padding-top: 10px; }

/*# sourceMappingURL=main.css.map */
