/*********Work Page*********/

.work .row {
    padding-bottom: 0;
    margin-bottom: -10px;
}

.row.work-desc {
    margin-right: 10%;
}
.work .row .col-md-4{
  max-width: 300px !important;
  margin: 0 auto;
}

.work-title{
  position: relative;
  bottom: 285px;
}

.work-box .work-title p {
  font-size: 67px;
  font-weight: 700;
  letter-spacing: -9.5px;
  color:  #283747;
  text-transform: uppercase;

}

.work-thumbnail{
  display: inline-block;
  text-align: right;
  max-width: 100%;
}

.work-box{
  cursor: hand;
  text-decoration: none;
  margin-bottom: -80px;
  text-align: center;
}

.work-box .modal-dialog {
    position: relative;
    width: auto;
    margin: 20vh auto 0;
    max-width: 700px;
}

.work-box .modal-content{
  background-color:#f4f5f6;
  border-radius: 4px;
  max-width: 90%;
  margin: auto;
}
.work-box .modal-header{
  border:0;
  padding:15px 15px 0;
  margin-top: 20px;
}

.work-box h4#myModalLabel {
    color: #41b4af;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 26px;
    line-height: 16px;
    text-align: right;
    padding-right: 10%;
}

.work-box .modal-body img {
    margin: 0 auto;
}

.work-box .modal-body p {
    font-size: 11px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    max-width: 408px;
    margin: 20px auto;
}

.work-box .modal-footer{
  border-top: none;
  padding: 0 15px 15px;
}

.work-box .modal-footer button {
    background-color: #f4f5f6;
    border: 1px solid #f27461 ;
    font-size: 11px;
    text-transform: lowercase;
    color: #f27461  ;
    font-weight: 700;
    margin: 0 0 10px 10px;
    letter-spacing: 4px;
    padding: 13px;
    border-radius: 2px;
}

.work .footer p{
  padding-top: 10px;
}

@media (min-width: 768px){


  .work .main .row .col-md-4 {
    display: inline-block;
  }
  .work .main .row {
    text-align: center;
  }

  .work-box .modal-dialog {
    margin: 10vh auto 0;
  }

  .modal-body{
    display: inline-flex;
   }
  .modal-body .col-md-8 {
      width: 66.66666667%;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

  .modal-body .col-md-4 {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .work-box h4#myModalLabel {
    padding-bottom: 15px;
  }
  .modal-footer-btns {
    margin-right: 10px;
}
  .work-box .modal-footer button{
    padding: 5px;
  }

}

@media (min-width: 1199px){

}