// _home.scss


.header{
	&.logo{
		h1.text-center{
			text-transform: uppercase;
			letter-spacing: -14px;
			font-size: 5em;
			line-height: .7;
			color: rgba(173,173,173,.8);

			@media (min-width: 770px){
				letter-spacing: -17px;
				font-size: 6em;
			    line-height:54px;
			}
			
		}

		p{
			color: #f27461;
			font-size: .7em;
			letter-spacing: 22px;
			margin: 37px 0 15px;
			text-align: center;
			position: relative;
			left: 13px;

			@media (min-width: 770px){
				font-size: .8em;
				font-weight: bold;
				left: 15px;
			}


		}
	}
}

.main {
	border-top: 1px solid rgba(65,180,175,.5);
	padding: 3em 0;
	border-bottom: 1px solid rgba(65,180,175,.5);
	min-height: 23em;

	&.home{
		.col-md-4{
			a:-webkit-any-link{
			text-decoration:none;
			
				.wrapper{
					height: 200px;
					margin: 0 auto 30px;
					background-color: #dee7e4;
					text-align: center;
					max-width: 30em;
					border-radius: 2px;
					transition: background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
					-o-transition:background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
					-ms-transition:background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
					-moz-transition:background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
					-webkit-transition:background-color 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

					&:hover, 
					&:focus,
					&:active{
						background: #f59d90;
						transition: background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
						-o-transition:background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
						-ms-transition:background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
						-moz-transition:background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
						-webkit-transition:background 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
					}

					.link-box{

						h1{
							position: relative;
							top: 66px;
							text-transform: uppercase;
							font-weight: 900;
							letter-spacing: -7px;
							font-size: 4em;
							color:#bdcfca;
						}

						&#link-contact{
							h1{
								top: 65px !important;
								line-height: 32px;

							}
						}
					}
				}
			}
		}
	}
}
