
.all-modals{
	.modal{
		&.fade{
				.modal-dialog{
					position: relative;
				    width: auto;
				    margin: 20vh auto 0;
				    max-width: 700px;

				    @media screen and (min-width:768px){
						margin: 10vh auto 0;
						}
						@media screen and (max-width: 767px){
							margin: 5vh auto 0;
						}

					.modal-content{
						background-color:#f4f5f6;
						border-radius: 4px;
						max-width: 90%;
						margin: auto;
						.modal-header{
							border:0;
							padding:15px 15px 0;
							margin-top: 20px;

							h4#myModalLabel{
								color: #41b4af;
							    text-transform: lowercase;
							    font-weight: 700;
							    letter-spacing: -1px;
							    font-size: 26px;
							    line-height: 16px;
							    text-align: right;
							    padding-right: 10%;

								@media screen and (min-width:768px){
									padding-bottom: 15px;
								}

							}
						}

						.modal-body{
							@media screen and (min-width:768px){
								display: inline-flex;
							}

							.col-md-8{
								@media screen and (min-width:768px){
									width: 66.66666667%;
									position: relative;
									min-height: 1px;
									padding-left: 15px;
									padding-right: 15px;
								}

								img{
									margin: 0 auto;

									@media screen and (max-width:400px) {
										max-height: 200px;
									}
								}
							}
							.col-md-4{
								@media screen and (min-width:768px){
									width: 33.33333333%;
									position: relative;
									min-height: 1px;
									padding-left: 15px;
									padding-right: 15px;
								}

								p.description {
									font-size: 11px;
								    line-height: 1.5;
								    text-transform: uppercase;
								    text-align: left;
								    max-width: 408px;
								    margin: 20px auto;
								}
							}

						}
						.modal-footer{			
							border-top: none;
							padding: 0 15px 15px;

							.modal-footer-btns{
								@media screen and (min-width:768px){
									margin-right: 10px;
								}
								button {
									background-color: #f4f5f6;
									border: 1px solid #f27461 ;
									font-size: 11px;
									text-transform: lowercase;
									color: #f27461  ;
									font-weight: 700;
									margin: 0 0 10px 10px;
									letter-spacing: 4px;
									padding: 10px 4px;
									border-radius: 2px;

									@media screen and (min-width:768px){
										padding: 13px;
									}

								}
							}
						}
					}
				}
			
		}


	}
}

.main {
	border-top:0;
	text-align:center;
	&.work{
			display: block !important;
			background: red;

			
			.work-box{
				margin: 20px auto;
				width: 100%;
				max-width: 300px;
				height: 300px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				background-color: #fff;
				display: inline-block;

				@media screen and (min-width:600px) {
					margin: 20px;
					width: 50%;
				}
				
				@media screen and (min-width:1200px){
					width:33%;
				}

				p.work-title{
					// position: relative;
					font-size: 67px;
					font-weight: 300;
					letter-spacing: -6px;
					text-transform: uppercase;
					margin:0 0 0 -6px;
					height: 0;
					// top: -13px;
					// right: 78px;

				}
				.work-image{
					
				}

			}
		
	

	}
}


